/* CSS Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#active {
    border: 2px solid white;
}

header {
    background-color: #d30000;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
    padding: 5px;
}
nav ul {
    text-align: center;
    font-size: 1.2em;
    margin:0;
    padding:0;
}

nav ul li {
    list-style-type: none;
    background-color: #b2b2b2;
    display: inline-block;
    padding: 12.5px;
    margin: 10px 0;
    border: 2px solid red;
    border-radius: 30px;
}
@media screen and (max-width: 768px){
    nav ul {
        display: block;
    }

    nav ul li {
        display: inline-block;
        margin:10px 0;
    }
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    background-image: url(../pictures/backgroundimage.jpeg);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo-container {
    margin-right: 10px;
}

.featured-photos {
    width: 200px;
    height: 250px;
}

.centered-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 250px;
}

.centered-button {
    background-color: #d30000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

h2 {
    color: #d30000;
    font-size: 30px;
}

.video {
    justify-content: center;
    display: flex;
}

#testimonials {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.testimonial {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial p.author {
    font-weight: bold;
}

.testimonial-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-content {
    flex: 1;
}

.testimonial-text {
    margin-bottom: 5px;
}

.testimonial-author {
    font-style: italic;
}

#contact-info {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

[type="submit"] {
    background-color: #d30000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

#product-details {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.product-card h2 {
    margin-bottom: 10px;
    color: #d30000;
}

.product-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

#phone-savings {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #d30000;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
    padding-left: 20px;
}

th:last-child,
td:last-child {
    padding-right: 20px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.team-member {
    
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.flex-image {
    display: flex;
    align-items: center;
}

